# Created by https://www.gitignore.io/api/android,androidstudio

### Android ###
*.apk
*.ap_
*.aab
*.dex
*.class
*.dex
*.pro
*.so
*.o
*/gen/*
*/build/*
*/local.properties
*.log
*.pot
*.dat
*.out
*.pyc
*.pyo
*.pyd
*.swp
*.seed
*.lock
*.bak
*~
*.part
*.patch
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/sonarlint
.idea/httpRequests
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

### Android Studio ###
*.iml
.gradle
/build/
/*/build/
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/httpRequests
/.idea/jsLibraryMappings.xml
/.idea/datasources.xml
/.idea/dataSources.ids
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml